<div class="container">
    <div class="row">
        <div class="col p-3">
            <div class="col-md">
                <div class="card text-center mb-3">
                    <div class="card-header">
                        <h5 class="card-titile"> Create Employee</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-title"><button type="button" class="btn btn-outline-success">Add Employee</button><br><br><button type="button" class="btn btn-outline-danger">Remove Employee</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="col-md">
                <div class="card text-center mb-3" id="total-Customers">
                    <div class="card-header">
                        <h5 class="card-titile"> Total Customers</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-title"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="col-md">
                <div class="card text-center mb-3" id="total-Employees">
                    <div class="card-header">
                        <h5 class="card-titile"> Total Employees</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-title"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>